{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<div>
		<a href="{{ path('new_post') }}"><button type="button" class="btn">Nouvel article</button></a>
	</div>

	<div>
		<a href="{{ path('new_video') }}"><button type="button" class="btn">Nouvelle vidéo</button></a>
	</div>

{% endblock %}