{% extends 'base.html.twig' %}

{% block title %}Vidéos{% endblock %}

{% block body %}

	<div class="container" id="videos-list">
		{% for video in videos %}
			{{ video.name }}
			<div id="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		{% else %}
			<div id="no-video">
				Aucune vidéo
			</div>
		{% endfor %}
	</div>

{% endblock %}