<div class="container-fluid" id="footer">
	<div class="row">
		<div class="col-md-3" id="title-footer">
			<h6>Antédiluvien©</h6>
		</div>
		<div class="col-md-6" id="footer-link">
			<a href="{{ path('mentions_legales') }}">Mentions légales</a>
		</div>
		<div class="col-md-3" id="network-icons">
			<a href="https://twitter.com/AnTdiluvien_net" target="_blank"><i data-feather="twitter"></i></a>
			<a href="https://www.youtube.com/channel/UCg0AFDuenpX1MHfMwFbh9Wg/videos" target="_blank"><i data-feather="youtube"></i></a>
		</div>
	</div>
</div>